/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
}

/* Убираем стили списков */
ul,
ol {
  list-style: none;
}

/* Убираем подчеркивание ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Убираем стили кнопок */
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

/* Убираем стили полей ввода */
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

/* Убираем дефолтные стили изображений */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Убираем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Убираем цитаты */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Убираем стили таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  min-height: 100vh;
  padding: 10px;
}

.fullscreen-mode {
  padding-top: 120px;
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: 10px;
  padding-right: 10px;
}
