/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.MaxUI_colorScheme_dark__jFq {
  --background-surface-primary: #003c6b; /* старое значение */
  --background-surface-card: #ffffff1a;
}

.CellSimple__n0z {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  margin-bottom: 8px;
  color: #ffffff;
}
/* .CellList__body__ouS {
  padding: 10px;
} */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #003c6b;
  -moz-osx-font-smoothing: grayscale;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
}

/* Убираем стили списков */
ul,
ol {
  list-style: none;
}

/* Убираем подчеркивание ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Убираем стили кнопок */
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

/* Убираем стили полей ввода */
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

/* Убираем дефолтные стили изображений */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Убираем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Убираем цитаты */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Убираем стили таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  min-height: 100vh;
  padding: 10px;
}

.fullscreen-mode {
  padding-top: 120px;
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: 10px;
  padding-right: 10px;
}
